body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: darkgreen;
    text-align: center;
    color: white;
    font-weight: bold;
}

h1 {
    color: goldenrod;
}

button {
    background-color: goldenrod;
    width: 150px;
    color: darkgreen;
    font-weight: bold;
    border: none;
    border-radius: 2px;
}